@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    --main-color: #292c29;
    --primary-color: #575454;
    --buton-background: #4b709e;
    --background-color: #e7e7ec71;
    font-family: 'Poppins', sans-serif;
}
h1, h2{
    color: var(--main-color);
}
h3, h4{
    color: var(--main-color);
}
h3{
    font-weight: 750;
    font-size: 23px;
    line-height: 60px;
    text-transform: capitalize;
}
p, a, li, button{
    color: var(--primary-color);
}
p{
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    line-height: 36px;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

/* <!------------------------- RESPONSIVE LAYOUT START -------------------------> */



@media (max-width: 575px) {
    /* <!------------------------- NAV SECTION START -------------------------> */
header{
padding: 0px 20px;
overflow: hidden;
}
header nav{
width: 100%;
height: 100%;
display: block;
}
nav .nav-icon img{
width: 23px;
height: 23px;
}
        /* ---------------- Left Side Menu ---------------- */
header nav .left-side-menu{
width: 100%;
margin-bottom: 15px;
}
header nav .left-side-menu a img{
height: 128px;
width: 122px;
}
header nav .left-side-menu .sub-menu{
display: none;
flex-direction: column;
width: 60%;
height: 86vh;
justify-content: center;
text-align: center;
position: fixed;
top: 0;
left: 0;
background: rgb(49, 51, 51);
max-width: 179px;
}
header nav .left-side-menu .sub-menu.active{
display: flex;
}
header nav .left-side-menu .sub-menu a{
padding: 5px 15px;
margin-right: 10px;
}
header nav .left-side-menu .sub-menu a li{
font-size: 17px;
line-height: 25px;
text-transform: capitalize;
color: #fff;
}
header nav .left-side-menu .sub-menu a li:hover{
color:rgb(145, 62, 3);
}
header nav .left-side-menu .nav-icon{
text-align: end;
}
        /* ---------------- Right Side Menu ---------------- */
header .right-side-menu{
width: 100%;
display: flex;
justify-content: end;
}

header .right-side-menu .sub-menu{
display: flex;
flex-direction: column;
text-align: end;
}
header .right-side-menu .sub-menu a{
padding: 2px 7px;
background: #f3f3f3;
font-size: 12px;
cursor: pointer;
border-radius: 11px;
margin-right: 0px;
}
header .right-side-menu .sub-menu a li{
text-align: end;
}
header .right-side-menu .sub-menu button{
width: 60px;
padding: 2px 9px;
background-color: #4b709e;
color: white;
font-size: 17px;
border-radius: 19px;
line-height: normal;
margin-top: 7px;
}
header .right-side-menu .sub-menu button:hover{
background: rgb(167, 75, 10);
}
header .right-side-menu .sub-menu a li:hover{
color: rgb(145, 62, 3);
}
/* <!------------------------- NAV SECTION END -------------------------> */

/* <!------------------------- MAIN SECTION START -------------------------> */

.main-section{
display: grid;
grid-template-columns: repeat(1, 1fr);
padding: 0px 20px;
margin-bottom: 70px;
overflow: hidden;
}
         /* ---------------- Left Side Section ---------------- */
.main-section .main-left-side{
order: 2;
margin-top: 25px;
width: 100%;
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
}
.main-section h1{
width: 100%;
font-size: 35px;
margin-bottom: 7px;
text-transform: capitalize;
text-align: center;
}
.main-section p{
width: 100%;
padding: 0px 40px;
text-align: center;
margin-bottom: 25px;
}
.main-section a img{
width: 110px;
height: 33px;
}
.main-section .play-button .playstore{
height: 51px;
width: 128px;
}
.main-section .play-button{
width: 100%;
justify-content: center;
align-items: center;
display: flex;
}
.main-section .play-button a:first-child{
margin-right: 5px;
}
         /* ---------------- Right Side Section ---------------- */

.main-section .main-right-side{
order: 1;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.main-section .main-right-side img{
width: 70%;
}
.main-right-side::before {
background: none;
}


/* <!------------------------- MAIN SECTION END -------------------------> */

/* <!------------------------- SECOND SECTION START -------------------------> */
.second-section{
display: block;
margin-top: 10px;
align-items: center;
margin-bottom: 70px;
padding: 0px 20px;
overflow: hidden;
}
         /* ---------------- Left Side Section ---------------- */
.second-section .left-side-section figure{
height: 320px;
background: none;
align-items: center;
justify-content: center;
}
.second-section .left-side-section figure img{
width: 100%;
height: 100%;
border-radius: 20px;
object-fit: contain;
}
         /* ---------------- Right Side Section ---------------- */
.second-section .right-side-section{
padding: 0px;
}
.second-section .right-side-section h2{
width: 100%;
font-size: 34px;
text-transform: capitalize;
margin-bottom: 10px;
margin-top: 25px;
text-align: center;
justify-content: center;
}
.second-section .right-side-section p{
margin-bottom: 40px;
margin-top: 10px;
text-align: center;
padding: 0px 40px;
}
.second-section .right-side-section .button-group button:hover{
background-color: #615f5f;
color: white;
}
.second-section .right-side-section .button-group{
text-align: center;
}
.second-section .right-side-section .button-group button{
background-color: var(--buton-background);
color: white;
padding: 3px 9px;
font-size: 17px;
margin-bottom: 6px;
}
/* <!------------------------- SECOND SECTION END -------------------------> */


/* <!------------------------- THIRD SECTION START -------------------------> */
.third-section{
width: 100%;
height: 100%;
background: none;
padding: 0px 20px;
margin-bottom: 70px;
}
.third-section h2{
width: 100%;
text-transform: capitalize;
font-size: 30px;
margin-bottom: 15px;
margin-top: 0px;
text-align: center;
}
.third-section p{
padding: 0px 40px;
text-align: center;
}
.third-section .third-section-tasks{
padding: 0px 20px;
display: block;
margin-top: 30px;
grid-column-gap: 0;
}
.third-section .third-section-tasks .task-1,
.third-section .third-section-tasks .task-2,
.third-section .third-section-tasks .task-3{
justify-content: center;
margin-top: 25px;
padding: 15px 0px;
text-align: center;
transition: all 0.3s linear;
border-radius: 25px;
}
.third-section .third-section-tasks .task-1 p,
.third-section .third-section-tasks .task-2 p,
.third-section .third-section-tasks .task-3 p{
padding: 0px 8px;
margin-bottom: 8px;
}
.third-section .third-section-tasks .task-1 h3,
.third-section .third-section-tasks .task-2 h3,
.third-section .third-section-tasks .task-3 h3{
width: 100%;
line-height: normal;
font-size: 20px;
text-transform: capitalize;
margin-top: 15px;
margin-bottom: 5px;
}
.third-section .third-section-tasks .task-1 img,
.third-section .third-section-tasks .task-2 img,
.third-section .third-section-tasks .task-3 img{
margin-top: 10px;
width: 25%;
transition: all 0.3s;
}
.third-section .third-section-tasks .task-3{
background: #fff;
box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover,
.third-section .third-section-tasks .task-2:hover{
background: #fff;
box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover > img,
.third-section .third-section-tasks .task-2:hover > img,
.third-section .third-section-tasks .task-3:hover > img{
transform: rotate(360deg);
}
/* <!------------------------- THIRD SECTION END -------------------------> */

/* <!------------------------- FOUR SECTION START -------------------------> */
.four-section{
display: flex;
flex-direction: column;
margin-bottom: 70px;
padding: 0px 20px;
margin-top: 0px;
}
         /* ---------------- Right Side Section ---------------- */
.four-section .right-side-section{
order: 1;
}
.four-section .right-side-section figure{
background: none;
border-radius: 63px;
height: 100%;
}
.four-section .right-side-section figure img{
width: 55%;
object-fit: contain;
text-align: center;
margin-top: 30px;
margin-bottom: 50px
}
         /* ---------------- Left Side Section ---------------- */
.four-section .left-side-section{
display: block;
text-align: center ;
order: 2;
padding: 0px 20px;
}
.four-section .left-side-section h2{
width: 100%;
font-size: 38px;
text-transform: capitalize;
margin-bottom: 20px;
}
.four-section .left-side-section p{
padding-left: 53px;
padding-right: 53px;
margin-bottom: 40px;
}
.four-section .left-side-section .button-group button:hover{
background-color: #615f5f;
color: white;
}
.four-section .left-side-section .button-group button{
background-color: var(--buton-background);
color: white;
padding: 3px 11px;
font-size: 18px;
margin-bottom: 3px;
}
/* <!------------------------- FOUR SECTION END -------------------------> */



/* <!------------------------- FIVE SECTION START -------------------------> */
.five-section{
display: grid;
grid-template-columns: repeat(1, 1fr);
align-items: center;
margin-bottom: 70px;
padding: 0px 20px;
}
         /* ---------------- Left Side Section ---------------- */
.five-section .left-side-section img{
width: 60%;
text-align: center;
object-fit: contain;
}
.five-section .left-side-section{
text-align: center;
order: 1;
}
         /* ---------------- Right Side Section ---------------- */
.five-section .right-side-section{
padding: 0px;
order: 2;
}
.five-section .right-side-section h2{
width: 100%;
font-size: 35px;
text-transform: capitalize;
margin-bottom: 30px;
margin-top: 30px;
text-align: center;
}
.five-section-rules .rule-1,
.five-section-rules .rule-2,
.five-section-rules .rule-3{
margin-bottom: 20px;
justify-content: flex-start;
text-align: start;
padding: 0px 53px;
}
.five-section-rules .rule-1 h3,
.five-section-rules .rule-2 h3,
.five-section-rules .rule-3 h3{
line-height: normal;
width: 100%;
height: 100%;
font-size: 20px;
margin-bottom: 5px;
}
.fa-heart{
color: rgb(184, 95, 32);
font-size: 15px;
}
/* <!------------------------- FIVE SECTION END -------------------------> */


/* <!------------------------- FOOTER SECTION START -------------------------> */

footer{
width: 100%;
background: var(--background-color);
padding: 0px 20px;
display: grid;
grid-template-columns: 1fr;
margin-bottom: 5px;
}
footer img{
width: 20%;
}
footer .footer-logo p{
font-size: 13px;
line-height: normal;
width: 100%;
}
footer .footer-menu{
margin-top: 20px;
display: grid;
grid-template-columns: 1fr 1fr;
}
.footer-menu h4{
font-size: 11px;
text-transform: capitalize;
margin: 10px 0px;
}
.footer-menu a{
font-size: 11px;
line-height: normal;
margin-bottom: 4px;
}
.footer-menu a li{
margin-bottom: 3px;
}

/* <!------------------------- FOOTER SECTION END -------------------------> */

/* <!------------------------- SOCIAL MEDIA SECTION START -------------------------> */
.social-icons{
position: fixed;
top: 50%;
transform: translateY(-50%);
z-index: 10;
}
.social-icons a{
width: 145px;
background: rgb(66 103 178);
color: #fff;
display: flex;
justify-content: flex-end;
align-items: center;
font-size: 13px;
padding: 3px;
transition: all 0.3s linear;
transform: translateX(-120px);
}
.social-icons a:hover{
transform: translateX(0px);
}
.social-icons a .fab{
padding-left: 10px;
font-size: 20px;
animation: letszoom 3s linear alternate-reverse infinite;
}
@keyframes letszoom{
from{
    transform: scale(0.6);
}
to{
    transform: scale(0.9);
}
}


.social-icons .youtube{
background: #c4302b;
}
.social-icons .twitter{
background: #00acee;
}
.social-icons .instagram{
background: #bc2a8d;
}
/* <!------------------------- SOCIAL MEDIA SECTION END -------------------------> */
}



@media (min-width: 576px) and (max-width: 767px) {
                /* <!------------------------- NAV SECTION START -------------------------> */
header{
    padding: 0px 20px;
}
header nav{
    width: 100%;
    height: 100%;
    display: block;
}
            /* ---------------- Left Side Menu ---------------- */
header nav .left-side-menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
header nav .left-side-menu a img{
    height: 128px;
    width: 122px;
}
header nav .left-side-menu .sub-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
header nav .left-side-menu .sub-menu a{
    margin-right: 40px;
}
header nav .left-side-menu .sub-menu a li{
    font-size: 19px;
    line-height: 25px;
    text-transform: capitalize;
}
header nav .left-side-menu .sub-menu a li:hover{
    color:rgb(145, 62, 3);
}
            /* ---------------- Right Side Menu ---------------- */
header .right-side-menu{
    width: 100%;
    display: flex;
    justify-content: end;
}

header .right-side-menu .sub-menu{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .right-side-menu .sub-menu a{
    margin-right: 20px;
    padding: 7px 20px;
    background: #f3f3f3;
    font-size: 16px;
    cursor: pointer;
    border-radius: 22px;
}
header .right-side-menu .sub-menu button{
    padding: 2px 19px;
    background-color: #4b709e;
    color: white;
}
header .right-side-menu .sub-menu button:hover{
    background: rgb(167, 75, 10);
}
header .right-side-menu .sub-menu a li:hover{
    color: rgb(145, 62, 3);
}
/* <!------------------------- NAV SECTION END -------------------------> */


/* <!------------------------- MAIN SECTION START -------------------------> */

.main-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 20px;
    margin-bottom: 80px;
}
             /* ---------------- Left Side Section ---------------- */
.main-section .main-left-side{
    order: 2;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.main-section h1{
    width: 100%;
    font-size: 40px;
    margin-bottom: 7px;
    text-transform: capitalize;
    text-align: center;
}
.main-section p{
    width: 100%;
    margin-bottom: 40px;
    padding: 0px 53px;
    text-align: start;
    margin-bottom: 25px;
}
.main-section a img{
    width: 125px;
    height: 35px;
}
.main-section .play-button .playstore{
    height: 53px;
    width: 145px;
}
.main-section .play-button{
    justify-content: start;
    align-items: center;
    display: flex;
}
.main-section .play-button a:first-child{
    margin-right: 5px;
}
             /* ---------------- Right Side Section ---------------- */

.main-section .main-right-side{
    order: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.main-section .main-right-side img{
    width: 70%;
}
.main-right-side::before {
    background: none;
}


/* <!------------------------- MAIN SECTION END -------------------------> */

/* <!------------------------- SECOND SECTION START -------------------------> */
.second-section{
    display: block;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 80px;
    padding: 0px 20px;
}
             /* ---------------- Left Side Section ---------------- */
.second-section .left-side-section figure{
    height: 350px;
    background: none;
    align-items: center;
    justify-content: center;
}
.second-section .left-side-section figure img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
             /* ---------------- Right Side Section ---------------- */
.second-section .right-side-section h2{
    width: 100%;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
}
.second-section .right-side-section p{
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
    padding: 0px 53px;
}
.second-section .right-side-section .button-group button:hover{
    background-color: #615f5f;
    color: white;
}
.second-section .right-side-section .button-group{
    text-align: center;
}
.second-section .right-side-section .button-group button{
    background-color: var(--buton-background);
    color: white;
    padding: 3px 11px;
    font-size: 18px;
}
/* <!------------------------- SECOND SECTION END -------------------------> */


/* <!------------------------- THIRD SECTION START -------------------------> */
.third-section{
    background: rgb(250, 246, 246);
    padding: 0px 20px;
    margin-bottom: 80px;
}
.third-section h2{
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
.third-section p{
    padding: 0px 20px;
    text-align: center;
}
.third-section .third-section-tasks{
    padding: 0px 20px;
    display: block;
    margin-top: 30px;
    grid-column-gap: 30px;
}
.third-section .third-section-tasks .task-1,
.third-section .third-section-tasks .task-2,
.third-section .third-section-tasks .task-3{
    justify-content: center;
    margin-top: 30px;
    padding: 15px 0px;
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 25px;
}
.third-section .third-section-tasks .task-1 p,
.third-section .third-section-tasks .task-2 p,
.third-section .third-section-tasks .task-3 p{
    padding: 0px 10px;
    margin-bottom: 10px;
}
.third-section .third-section-tasks .task-1 h3,
.third-section .third-section-tasks .task-2 h3,
.third-section .third-section-tasks .task-3 h3{
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 20px;
}
.third-section .third-section-tasks .task-1 img,
.third-section .third-section-tasks .task-2 img,
.third-section .third-section-tasks .task-3 img{
    margin-top: 10px;
    width: 30%;
    transition: all 0.3s;
}
.third-section .third-section-tasks .task-3{
    background: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover,
.third-section .third-section-tasks .task-2:hover{
    background: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover > img,
.third-section .third-section-tasks .task-2:hover > img,
.third-section .third-section-tasks .task-3:hover > img{
    transform: rotate(360deg);
}
/* <!------------------------- THIRD SECTION END -------------------------> */

/* <!------------------------- FOUR SECTION START -------------------------> */
.four-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    padding: 0px 20px;
}
             /* ---------------- Right Side Section ---------------- */
.four-section .right-side-section{
    order: 1;
}
.four-section .right-side-section figure{
    background: none;
    border-radius: 63px;
}
.four-section .right-side-section figure img{
    width: 60%;
    object-fit: contain;
    text-align: center;
}
             /* ---------------- Left Side Section ---------------- */
.four-section .left-side-section{
    display: block;
    text-align: center ;
    order: 2;
    padding: 0px 20px;
}
.four-section .left-side-section h2{
    width: 100%;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.four-section .left-side-section p{
    padding-left: 53px;
    padding-right: 53px;
    margin-bottom: 40px;
}
.four-section .left-side-section .button-group button:hover{
    background-color: #615f5f;
    color: white;
}
.four-section .left-side-section .button-group button{
    background-color: var(--buton-background);
    color: white;
    padding: 3px 11px;
    font-size: 18px;
}
/* <!------------------------- FOUR SECTION END -------------------------> */



/* <!------------------------- FIVE SECTION START -------------------------> */
.five-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-bottom: 80px;
    padding: 0px 20px;
}
             /* ---------------- Left Side Section ---------------- */
.five-section .left-side-section img{
    width: 60%;
    text-align: center;
    object-fit: contain;
}
.five-section .left-side-section{
    text-align: center;
    order: 1;
}
             /* ---------------- Right Side Section ---------------- */
.five-section .right-side-section{
    padding: 0px;
    order: 2;
}
.five-section .right-side-section h2{
    width: 100%;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.five-section-rules .rule-1,
.five-section-rules .rule-2,
.five-section-rules .rule-3{
    margin-bottom: 20px;
    justify-content: flex-start;
    text-align: start;
    padding: 0px 53px;
}
.five-section-rules .rule-1 h3,
.five-section-rules .rule-2 h3,
.five-section-rules .rule-3 h3{
    line-height: normal;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-bottom: 5px;
}
.fa-heart{
    color: rgb(184, 95, 32);
    font-size: 15px;
}
/* <!------------------------- FIVE SECTION END -------------------------> */


/* <!------------------------- FOOTER SECTION START -------------------------> */

footer{
    width: 100%;
    background: var(--background-color);
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 5px;
}
footer img{
    width: 20%;
}
footer .footer-logo p{
    font-size: 13px;
}
footer .footer-menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-menu h4{
    font-size: 11px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.footer-menu a{
    font-size: 11px;
    line-height: 17px;
}

/* <!------------------------- FOOTER SECTION END -------------------------> */

/* <!------------------------- SOCIAL MEDIA SECTION START -------------------------> */
.social-icons{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.social-icons a{
    width: 145px;
    background: rgb(66 103 178);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    padding: 3px;
    transition: all 0.3s linear;
    transform: translateX(-120px);
}
.social-icons a:hover{
    transform: translateX(0px);
}
.social-icons a .fab{
    padding-left: 10px;
    font-size: 20px;
    animation: letszoom 3s linear alternate-reverse infinite;
}
@keyframes letszoom{
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(0.9);
    }
}


.social-icons .youtube{
    background: #c4302b;
}
.social-icons .twitter{
    background: #00acee;
}
.social-icons .instagram{
    background: #bc2a8d;
}
/* <!------------------------- SOCIAL MEDIA SECTION END -------------------------> */
}
@media (min-width: 576px) {
    nav .nav-icon{
        display: none;
    }
}



@media (min-width: 768px) and (max-width: 991px){
/* <!------------------------- NAV SECTION START -------------------------> */
header{
    padding: 0px 20px;
}
header nav{
    width: 100%;
    height: 100%;
    display: block;
}
            /* ---------------- Left Side Menu ---------------- */
header nav .left-side-menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
header nav .left-side-menu a img{
    height: 128px;
    width: 122px;
}
header nav .left-side-menu .sub-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
header nav .left-side-menu .sub-menu a{
    margin-right: 40px;
}
header nav .left-side-menu .sub-menu a li{
    font-size: 19px;
    line-height: 25px;
    text-transform: capitalize;
}
header nav .left-side-menu .sub-menu a li:hover{
    color:rgb(145, 62, 3);
}
            /* ---------------- Right Side Menu ---------------- */
header .right-side-menu{
    width: 100%;
    display: flex;
    justify-content: end;
}

header .right-side-menu .sub-menu{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .right-side-menu .sub-menu a{
    margin-right: 20px;
    padding: 7px 20px;
    background: #f3f3f3;
    font-size: 16px;
    cursor: pointer;
    border-radius: 22px;
}
header .right-side-menu .sub-menu button{
    padding: 2px 19px;
    background-color: #4b709e;
    color: white;
}
header .right-side-menu .sub-menu button:hover{
    background: rgb(167, 75, 10);
}
header .right-side-menu .sub-menu a li:hover{
    color: rgb(145, 62, 3);
}
/* <!------------------------- NAV SECTION END -------------------------> */


/* <!------------------------- MAIN SECTION START -------------------------> */

.main-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 20px;
    margin-bottom: 80px;
}
             /* ---------------- Left Side Section ---------------- */
.main-section .main-left-side{
    order: 2;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.main-section h1{
    width: 100%;
    font-size: 40px;
    margin-bottom: 7px;
    text-transform: capitalize;
    text-align: center;
}
.main-section p{
    width: 100%;
    margin-bottom: 40px;
    padding: 0px 53px;
    text-align: start;
    margin-bottom: 25px;
}
.main-section a img{
    width: 125px;
    height: 35px;
}
.main-section .play-button .playstore{
    height: 53px;
    width: 145px;
}
.main-section .play-button{
    justify-content: start;
    align-items: center;
    display: flex;
}
.main-section .play-button a:first-child{
    margin-right: 5px;
}
             /* ---------------- Right Side Section ---------------- */

.main-section .main-right-side{
    order: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.main-section .main-right-side img{
    width: 70%;
}
.main-right-side::before {
    background: none;
}


/* <!------------------------- MAIN SECTION END -------------------------> */

/* <!------------------------- SECOND SECTION START -------------------------> */
.second-section{
    display: block;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 80px;
    padding: 0px 20px;
}
             /* ---------------- Left Side Section ---------------- */
.second-section .left-side-section figure{
    height: 350px;
    background: none;
    align-items: center;
    justify-content: center;
}
.second-section .left-side-section figure img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
             /* ---------------- Right Side Section ---------------- */
.second-section .right-side-section h2{
    width: 100%;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
}
.second-section .right-side-section p{
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
    padding: 0px 53px;
}
.second-section .right-side-section .button-group button:hover{
    background-color: #615f5f;
    color: white;
}
.second-section .right-side-section .button-group{
    text-align: center;
}
.second-section .right-side-section .button-group button{
    background-color: var(--buton-background);
    color: white;
    padding: 3px 11px;
    font-size: 18px;
}
/* <!------------------------- SECOND SECTION END -------------------------> */


/* <!------------------------- THIRD SECTION START -------------------------> */
.third-section{
    background: rgb(250, 246, 246);
    padding: 0px 20px;
    margin-bottom: 80px;
}
.third-section h2{
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
.third-section p{
    padding: 0px 20px;
    text-align: center;
}
.third-section .third-section-tasks{
    padding: 0px 20px;
    display: block;
    margin-top: 30px;
    grid-column-gap: 30px;
}
.third-section .third-section-tasks .task-1,
.third-section .third-section-tasks .task-2,
.third-section .third-section-tasks .task-3{
    justify-content: center;
    margin-top: 30px;
    padding: 15px 0px;
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 25px;
}
.third-section .third-section-tasks .task-1 p,
.third-section .third-section-tasks .task-2 p,
.third-section .third-section-tasks .task-3 p{
    padding: 0px 10px;
    margin-bottom: 10px;
}
.third-section .third-section-tasks .task-1 h3,
.third-section .third-section-tasks .task-2 h3,
.third-section .third-section-tasks .task-3 h3{
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 20px;
}
.third-section .third-section-tasks .task-1 img,
.third-section .third-section-tasks .task-2 img,
.third-section .third-section-tasks .task-3 img{
    margin-top: 10px;
    width: 30%;
    transition: all 0.3s;
}
.third-section .third-section-tasks .task-3{
    background: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover,
.third-section .third-section-tasks .task-2:hover{
    background: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover > img,
.third-section .third-section-tasks .task-2:hover > img,
.third-section .third-section-tasks .task-3:hover > img{
    transform: rotate(360deg);
}
/* <!------------------------- THIRD SECTION END -------------------------> */

/* <!------------------------- FOUR SECTION START -------------------------> */
.four-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    padding: 0px 20px;
}
             /* ---------------- Right Side Section ---------------- */
.four-section .right-side-section{
    order: 1;
}
.four-section .right-side-section figure{
    background: none;
    border-radius: 63px;
}
.four-section .right-side-section figure img{
    width: 60%;
    object-fit: contain;
    text-align: center;
}
             /* ---------------- Left Side Section ---------------- */
.four-section .left-side-section{
    display: block;
    text-align: center ;
    order: 2;
    padding: 0px 20px;
}
.four-section .left-side-section h2{
    width: 100%;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.four-section .left-side-section p{
    padding-left: 53px;
    padding-right: 53px;
    margin-bottom: 40px;
}
.four-section .left-side-section .button-group button:hover{
    background-color: #615f5f;
    color: white;
}
.four-section .left-side-section .button-group button{
    background-color: var(--buton-background);
    color: white;
    padding: 3px 11px;
    font-size: 18px;
}
/* <!------------------------- FOUR SECTION END -------------------------> */



/* <!------------------------- FIVE SECTION START -------------------------> */
.five-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-bottom: 80px;
    padding: 0px 20px;
}
             /* ---------------- Left Side Section ---------------- */
.five-section .left-side-section img{
    width: 60%;
    text-align: center;
    object-fit: contain;
}
.five-section .left-side-section{
    text-align: center;
    order: 1;
}
             /* ---------------- Right Side Section ---------------- */
.five-section .right-side-section{
    padding: 0px;
    order: 2;
}
.five-section .right-side-section h2{
    width: 100%;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.five-section-rules .rule-1,
.five-section-rules .rule-2,
.five-section-rules .rule-3{
    margin-bottom: 20px;
    justify-content: flex-start;
    text-align: start;
    padding: 0px 53px;
}
.five-section-rules .rule-1 h3,
.five-section-rules .rule-2 h3,
.five-section-rules .rule-3 h3{
    line-height: normal;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-bottom: 5px;
}
.fa-heart{
    color: rgb(184, 95, 32);
    font-size: 15px;
}
/* <!------------------------- FIVE SECTION END -------------------------> */


/* <!------------------------- FOOTER SECTION START -------------------------> */

footer{
    width: 100%;
    background: var(--background-color);
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 25% 75%;
}
footer img{
    width: 20%;
}
footer .footer-logo p{
    font-size: 13px;
}
footer .footer-menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-menu h4{
    font-size: 11px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.footer-menu a{
    font-size: 11px;
    line-height: 17px;
}

/* <!------------------------- FOOTER SECTION END -------------------------> */

/* <!------------------------- SOCIAL MEDIA SECTION START -------------------------> */
.social-icons{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.social-icons a{
    width: 145px;
    background: rgb(66 103 178);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    padding: 3px;
    transition: all 0.3s linear;
    transform: translateX(-120px);
}
.social-icons a:hover{
    transform: translateX(0px);
}
.social-icons a .fab{
    padding-left: 10px;
    font-size: 20px;
    animation: letszoom 3s linear alternate-reverse infinite;
}
@keyframes letszoom{
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(0.9);
    }
}


.social-icons .youtube{
    background: #c4302b;
}
.social-icons .twitter{
    background: #00acee;
}
.social-icons .instagram{
    background: #bc2a8d;
}
/* <!------------------------- SOCIAL MEDIA SECTION END -------------------------> */
}



@media (min-width: 992px) and (max-width: 1199px){
                /* <!------------------------- NAV SECTION START -------------------------> */
header{
    padding: 0px 85px;
    position: relative;
    z-index: 10;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}

            /* ---------------- Right Side Menu ---------------- */

header nav .left-side-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
header nav .left-side-menu a img{
    height: 140px;
    width: 130px
}
header nav .left-side-menu .sub-menu{
    height: inherit;
    display: flex;
}
header nav .left-side-menu .sub-menu a{
    margin-right: 40px;
}
header nav .left-side-menu .sub-menu a li{
    font-size: 20px;
    line-height: 36px;
    text-transform: capitalize;
}
header nav .left-side-menu .sub-menu a li:hover{
    color:rgb(145, 62, 3);
}

            /* ---------------- Left Side Menu ---------------- */

header .right-side-menu{
    width: 30%;
    display: flex;
    justify-content: end;
}

header .right-side-menu .sub-menu{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .right-side-menu .sub-menu a{
    margin-right: 39px;
    padding: 7px 20px;
    background: #f3f3f3;
    font-size: 16px;
    cursor: pointer;
    border-radius: 22px;
    position: relative;
    z-index: 9;
}
header .right-side-menu .sub-menu button{
    padding: 5px 25px;
    background-color: #4b709e;
    color: white;
    position: relative;
    z-index: 9;
}
header .right-side-menu .sub-menu button:hover{
    background: rgb(167, 75, 10);
}
header .right-side-menu .sub-menu a li:hover{
    color: rgb(145, 62, 3);
}

/* <!------------------------- NAV SECTION END -------------------------> */

/* <!------------------------- MAIN SECTION START -------------------------> */

.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 9;
}
             /* ---------------- Left Side Section ---------------- */
.main-section .main-left-side{
    margin-top: 34px;
    width: 60%;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
}
.main-section h1{
    width: 78%;
    font-size: 65px;
    line-height: normal;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.main-section p{
    padding: 0px 70px;
    margin-bottom: 80px;
    width: 100%;
}
.main-section a img{
    width: 115%;
    height: 40px;
}
.main-section .play-button .playstore{
    height: 58px;
    width: 150px;
}
.main-section .play-button{
    justify-content: start;
    align-items: center;
    display: flex;
}
.main-section .play-button a:first-child{
    margin-right: 5px;
}
             /* ---------------- Right Side Section ---------------- */

.main-section .main-right-side{
    width: 40%;
    height: 100%;
    position: relative;
    border-radius: 90px 20px 20px 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-right-side::before {
    content: "";
    background: var(--background-color);
    width: 100%;
    height: calc(100% + 185px);
    position: absolute;
    border-radius: 90px 20px 20px 90px;
    bottom: 0;
}
.main-section .main-right-side img{
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* <!------------------------- MAIN SECTION END -------------------------> */


/* <!------------------------- SECOND SECTION START -------------------------> */

.second-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-bottom: 90px;
    padding: 0px 100px;
}
             /* ---------------- Left Side Section ---------------- */
.second-section .left-side-section figure{
    height: 500px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 63px;
}
.second-section .left-side-section figure img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
             /* ---------------- Right Side Section ---------------- */
.second-section .right-side-section{
    padding-left: 30px;
}
.second-section .right-side-section h2{
    width: 99%;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.second-section .right-side-section p{
    margin-bottom: 40px;
}
.second-section .right-side-section .button-group button:hover{
    background-color: #615f5f;
    color: white;
}
.second-section .right-side-section .button-group button{
    background-color: var(--buton-background);
    color: white;
}


/* <!------------------------- SECOND SECTION END -------------------------> */

/* <!------------------------- THIRD SECTION START -------------------------> */

.third-section{
    background: rgb(250, 246, 246);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 90px;
}
.third-section h2{
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
.third-section p{
    padding: 0px 146px;
    text-align: center;
}
.third-section .third-section-tasks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    grid-column-gap: 30px;
}
.third-section .third-section-tasks .task-1,
.third-section .third-section-tasks .task-2,
.third-section .third-section-tasks .task-3{
    padding-top: 10px;
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 45px;
}
.third-section .third-section-tasks .task-1 p,
.third-section .third-section-tasks .task-2 p,
.third-section .third-section-tasks .task-3 p{
    padding: 0px 10px;
    margin-bottom: 10px;
}
.third-section .third-section-tasks .task-1 h3,
.third-section .third-section-tasks .task-2 h3,
.third-section .third-section-tasks .task-3 h3{
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 20px;
}
.third-section .third-section-tasks .task-1 img,
.third-section .third-section-tasks .task-2 img,
.third-section .third-section-tasks .task-3 img{
    margin-top: 10px;
    width: 40%;
    transition: all 0.3s;
}
.third-section .third-section-tasks .task-3{
    background: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover,
.third-section .third-section-tasks .task-2:hover{
    background: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover > img,
.third-section .third-section-tasks .task-2:hover > img,
.third-section .third-section-tasks .task-3:hover > img{
    transform: rotate(360deg);
}

/* <!------------------------- THIRD SECTION END -------------------------> */

/* <!------------------------- FOUR SECTION START -------------------------> */

.four-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    margin-bottom: 90px;
    padding: 0px 100px;
}
             /* ---------------- Right Side Section ---------------- */
.four-section .right-side-section figure{
    height: 500px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 63px;
}
.four-section .right-side-section figure img{
    width: 85%;
    height: 85%;
    border-radius: 20px;
    object-fit: contain;
}
             /* ---------------- Left Side Section ---------------- */
.four-section .left-side-section{
    padding: 0px;
}
.four-section .left-side-section h2{
    width: 90%;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.four-section .left-side-section p{
    margin-bottom: 40px;
}
.four-section .left-side-section .button-group button:hover{
    background-color: #615f5f;
    color: white;
}
.four-section .left-side-section .button-group button{
    background-color: var(--buton-background);
    color: white;
}


/* <!------------------------- FOUR SECTION END -------------------------> */


/* <!------------------------- FIVE SECTION START -------------------------> */

.five-section{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-bottom: 90px;
    padding: 0px 100px;
}
             /* ---------------- Left Side Section ---------------- */
.five-section .left-side-section img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
             /* ---------------- Right Side Section ---------------- */
.five-section .right-side-section{
    padding-left: 30px;
}
.five-section .right-side-section h2{
    width: 85%;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.five-section-rules .rule-1,
.five-section-rules .rule-2,
.five-section-rules .rule-3{
    margin-bottom: 10px;
}
.five-section-rules .rule-1 h3,
.five-section-rules .rule-2 h3,
.five-section-rules .rule-3 h3{
    height: 45px;
}
.fa-heart{
    color: rgb(184, 95, 32);
    font-size: 17px;
}

/* <!------------------------- FIVE SECTION END -------------------------> */


/* <!------------------------- FOOTER SECTION START -------------------------> */

footer{
    background: var(--background-color);
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0px;
}
footer img{
    width: 20%;
}
footer .footer-menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-menu h4{
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.footer-menu a{
    font-size: 13px;
    line-height: 17px;
}

/* <!------------------------- FOOTER SECTION END -------------------------> */



/* <!------------------------- SOCIAL MEDIA SECTION START -------------------------> */

.social-icons{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.social-icons a{
    width: 150px;
    background: rgb(66 103 178);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    transition: all 0.3s linear;
    transform: translateX(-120px);
}
.social-icons a:hover{
    transform: translateX(0px);
}
.social-icons a .fab{
    padding-left: 10px;
    font-size: 20px;
    animation: letszoom 3s linear alternate-reverse infinite;
}
@keyframes letszoom{
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(0.9);
    }
}


.social-icons .youtube{
    background: #c4302b;
}
.social-icons .twitter{
    background: #00acee;
}
.social-icons .instagram{
    background: #bc2a8d;
}
/* <!------------------------- SOCIAL MEDIA SECTION END -------------------------> */
}



@media (min-width: 1200px){
                /* <!------------------------- NAV SECTION START -------------------------> */
header{
    padding: 0px 85px;
    position: relative;
    z-index: 10;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}
            /* ---------------- Left Side Menu ---------------- */
header nav .left-side-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
header nav .left-side-menu a img{
    height: 140px;
    width: 130px
}
header nav .left-side-menu .sub-menu{
    height: inherit;
    display: flex;
}
header nav .left-side-menu .sub-menu a{
    margin-right: 40px;
}
header nav .left-side-menu .sub-menu a li{
    font-size: 20px;
    line-height: 36px;
    text-transform: capitalize;
}
header nav .left-side-menu .sub-menu a li:hover{
    color:rgb(145, 62, 3);
}
            /* ---------------- Left Side Menu ---------------- */

header .right-side-menu{
    width: 30%;
    display: flex;
    justify-content: end;
}
header .right-side-menu .sub-menu{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
}
header .right-side-menu .sub-menu a{
    margin-right: 39px;
    padding: 7px 20px;
    background: #f3f3f3;
    font-size: 16px;
    cursor: pointer;
    border-radius: 22px;
    position: relative;
    z-index: 9;
}
header .right-side-menu .sub-menu button{
    padding: 5px 25px;
    background-color: #4b709e;
    color: white;
    position: relative;
    z-index: 9;
}
header .right-side-menu .sub-menu button:hover{
    background: rgb(167, 75, 10);
}
header .right-side-menu .sub-menu a li:hover{
    color: rgb(145, 62, 3);
}
/* <!------------------------- NAV SECTION END -------------------------> */

/* <!------------------------- MAIN SECTION START -------------------------> */
.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 9;
}
             /* ---------------- Left Side Section ---------------- */
.main-section .main-left-side{
    margin-top: 34px;
    width: 60%;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    padding: 0px 90px;
}
.main-section h1{
    width: 100%;
    font-size: 60px;
    line-height: 0px;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.main-section p{
    margin-top: 10px;
    margin-bottom: 70px;
    width: 100%;
}
.main-section a img{
    width: 135px;
    height: 40px;
}
.main-section .play-button .playstore{
    height: 58px;
    width: 150px;
}
.main-section .play-button{
    justify-content: start;
    align-items: center;
    display: flex;
}
.main-section .play-button a:first-child{
    margin-right: 5px;
}
             /* ---------------- Right Side Section ---------------- */
.main-section .main-right-side{
    width: 40%;
    height: 100%;
    position: relative;
    border-radius: 90px 20px 20px 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-right-side::before {
    content: "";
    background: var(--background-color);
    width: 100%;
    height: calc(100% + 120px);
    position: absolute;
    border-radius: 90px 20px 20px 90px;
    bottom: 0;
}
.main-section .main-right-side img{
    width: 600px;
    height: 100%;
    z-index: 1;
}
/* <!------------------------- MAIN SECTION END -------------------------> */

/* <!------------------------- SECOND SECTION START -------------------------> */
.second-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-bottom: 90px;
    padding: 0px 100px;
}
             /* ---------------- Left Side Section ---------------- */
.second-section .left-side-section figure{
    height: 500px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 63px;
}
.second-section .left-side-section figure img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
             /* ---------------- Right Side Section ---------------- */
.second-section .right-side-section{
    padding-left: 30px;
}
.second-section .right-side-section h2{
    width: 100%;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: normal;
}
.second-section .right-side-section p{
    margin-bottom: 40px;
}
.second-section .right-side-section .button-group button:hover{
    background-color: #615f5f;
    color: white;
    transition: all 0.3s ease;
}
.second-section .right-side-section .button-group button{
    background-color: var(--buton-background);
    color: white;
}
/* <!------------------------- SECOND SECTION END -------------------------> */

/* <!------------------------- THIRD SECTION START -------------------------> */
.third-section{
    background: rgb(250, 246, 246);
    padding: 0px 30px;
    margin-bottom: 90px;
}
.third-section h2{
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}
.third-section p{
    padding: 0px 146px;
    text-align: center;
}
.third-section .third-section-tasks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    grid-column-gap: 30px;
}
.third-section .third-section-tasks .task-1,
.third-section .third-section-tasks .task-2,
.third-section .third-section-tasks .task-3{
    padding-top: 10px;
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 45px;
}
.third-section .third-section-tasks .task-1 p,
.third-section .third-section-tasks .task-2 p,
.third-section .third-section-tasks .task-3 p{
    padding: 0px 10px;
    margin-bottom: 10px;
}
.third-section .third-section-tasks .task-1 h3,
.third-section .third-section-tasks .task-2 h3,
.third-section .third-section-tasks .task-3 h3{
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 20px;
}
.third-section .third-section-tasks .task-1 img,
.third-section .third-section-tasks .task-2 img,
.third-section .third-section-tasks .task-3 img{
    margin-top: 10px;
    width: 40%;
    transition: all 0.3s;
}
.third-section .third-section-tasks .task-3{
    background: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover,
.third-section .third-section-tasks .task-2:hover{
    background: #fff;
    box-shadow: 0px 4px 20px rgba(35, 52, 53, 0.25);
}
.third-section .third-section-tasks .task-1:hover > img,
.third-section .third-section-tasks .task-2:hover > img,
.third-section .third-section-tasks .task-3:hover > img{
    transform: rotate(360deg);
    transition: all 0.6s ease;
}
/* <!------------------------- THIRD SECTION END -------------------------> */

/* <!------------------------- FOUR SECTION START -------------------------> */
.four-section{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    margin-bottom: 90px;
    padding: 0px 100px;
}
             /* ---------------- Right Side Section ---------------- */
.four-section .right-side-section figure{
    height: 500px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 63px;
}
.four-section .right-side-section figure img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
             /* ---------------- Left Side Section ---------------- */
.four-section .left-side-section{
    padding: 0px 30px;
}
.four-section .left-side-section h2{
    width: 100%;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.four-section .left-side-section p{
    margin-bottom: 40px;
}
.four-section .left-side-section .button-group button:hover{
    background-color: #615f5f;
    color: white;
}
.four-section .left-side-section .button-group button{
    background-color: var(--buton-background);
    color: white;
}
/* <!------------------------- FOUR SECTION END -------------------------> */

/* <!------------------------- FIVE SECTION START -------------------------> */
.five-section{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-bottom: 90px;
    padding: 0px 100px;
}
             /* ---------------- Left Side Section ---------------- */
.five-section .left-side-section img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
             /* ---------------- Right Side Section ---------------- */
.five-section .right-side-section{
    padding-left: 30px;
}
.five-section .right-side-section h2{
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.five-section-rules .rule-1,
.five-section-rules .rule-2,
.five-section-rules .rule-3{
    margin-bottom: 10px;
}
.five-section-rules .rule-1 h3,
.five-section-rules .rule-2 h3,
.five-section-rules .rule-3 h3{
    height: 45px;
}
.fa-heart{
    color: rgb(184, 95, 32);
    font-size: 17px;
}
/* <!------------------------- FIVE SECTION END -------------------------> */

/* <!------------------------- FOOTER SECTION START -------------------------> */

footer{
    background: var(--background-color);
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
}
footer img{
    width: 20%;
}
footer .footer-menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-menu h4{
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.footer-menu a{
    font-size: 13px;
    line-height: 17px;
}
/* <!------------------------- FOOTER SECTION END -------------------------> */

/* <!------------------------- SOCIAL MEDIA SECTION START -------------------------> */

.social-icons{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.social-icons a{
    width: 150px;
    background: rgb(66 103 178);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 5px;
    transition: all 0.3s linear;
    transform: translateX(-120px);
}
.social-icons a:hover{
    transform: translateX(0px);
}
.social-icons a .fab{
    padding-left: 19px;
    font-size: 18px;
    animation: letszoom 3s linear alternate-reverse infinite;
}
@keyframes letszoom{
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(0.9);
    }
}
.social-icons .youtube{
    background: #c4302b;
}
.social-icons .twitter{
    background: #00acee;
}
.social-icons .instagram{
    background: #bc2a8d;
}
/* <!------------------------- SOCIAL MEDIA SECTION END -------------------------> */
}


/* <!------------------------- RESPONSIVE LAYOUT END -------------------------> */